<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* Style for the body and links */
        a {
            text-decoration: none;
        }

        @media screen and (max-width: 600px) {
            #content {
                float: none;
                width: 100%;
            }
        }
    </style>
</head>