<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* Style for the body and links */
        #body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        a {
            color: rgb(6, 77, 24);
            text-decoration: none;
        }

        @media screen and (max-width: 600px) {
            #content {
                float: none;
                width: 100%;
            }
        }
    </style>
</head>