<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake</title>
    <style>
        body {
            /* display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0; */
            text-align: center;
        }

        canvas {
            border: 4px solid black;
        }
    </style>
</head>

<body>
    <!-- Sets the movement area for the player -->
    <canvas id="canvas" style="border: 4px solid black;"></canvas>
</body>

<script>
    let spaceSize = 32
    let rows = 20
    let columns = 20
    let canvas
    let context

    let playerX = spaceSize * 5
    let playerY = spaceSize * 5

    let speedX = 0;  //speed of snake in x coordinate.
    let speedY = 0;  //speed of snake in Y coordinate.

    let playerBody = []

    let foodX
    let foodY

    let gameOver = false

    window.onload = function () {
        canvas = document.getElementById("canvas")
        canvas.height = rows * spaceSize
        canvas.width = columns * spaceSize
        context = canvas.getContext("2d")

        foodSpawn()
        document.addEventListener("keydown", changeDir)

        setInterval(gameUpdate, 1000 / 15)
    }

    function gameUpdate() {
        if (gameOver) {
            return
        }

        // Background color
        context.fillStyle = "grey";
        context.fillRect(0, 0, canvas.width, canvas.height);

        // food color and location
        context.fillStyle = "red";
        context.fillRect(foodX, foodY, spaceSize, spaceSize);

        if (playerX == foodX && playerY == foodY) {
            playerBody.push([foodX, foodY])
            foodSpawn()
        }

        // increase snake size
        for (let i = playerBody.length - 1; i >= 0; i--) {
            playerBody[i] = playerBody[i - 1]
        }

        if (playerBody.length) {
            playerBody[0] = [playerX, playerY]
        }

        // update snake x & y
        context.fillStyle = "blue";
        playerX += speedX * spaceSize
        playerY += speedY * spaceSize
        // draw snake
        context.fillRect(playerX, playerY, spaceSize, spaceSize)
        for (let i = 0; i < playerBody.length; i++) {
            context.fillRect(playerBody[i][0], playerBody[i][1], spaceSize, spaceSize)
        }

        // check if snake is out of bounds
        if (playerX < 0 || playerX >= rows * spaceSize || playerY < 0 || playerY >= columns * spaceSize) {
            gameOver = true
            alert("Game Over")
        }

        // check if snake hits itself
        for (let i = 0; i < playerBody.length; i++) {
            if (playerX == playerBody[i][0] && playerY == playerBody[i][1]) {
                gameOver = true
                alert("Game Over")
            }
        }
    }

    //snake movement
    function changeDir(e) {
        if ((e.code == 'ArrowUp' || e.code == 'KeyW') && speedY != 1) {
            speedX = 0
            speedY = -1
        }
        if ((e.code == 'ArrowDown' || e.code == 'KeyS') && speedY != -1) {
            speedX = 0
            speedY = 1
        }
        if ((e.code == 'ArrowLeft' || e.code == 'KeyA') && speedX != 1) {
            speedX = -1
            speedY = 0
        }
        if ((e.code == 'ArrowRight' || e.code == 'KeyD') && speedX != -1) {
            speedX = 1
            speedY = 0
        }
    }

    function foodSpawn() {
        foodX = Math.floor(Math.random() * rows) * spaceSize
        foodY = Math.floor(Math.random() * columns) * spaceSize
    }
</script>

</html>