<%- include('partials/header') %>

    <body>
        <!-- This is the home page with links to the game and chat page -->
        <br>
        <a href="/game">Click here to go to the game</a>
        <br>
        <a href="/chat">Click here to go to the chat</a>
    </body>

    <%- include('partials/footer') %>