<%- include('partials/header') %>

    <head>
        <title>Login to play Snake!</title>
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
    </head>

    <body>
        <!-- This is the login page -->
        <form action="/login" method="POST">
            <input name="user" type="text" placeholder="Username"> <!-- Username -->
            <input name="pass" type="password" placeholder="Password"> <!-- Password -->
            <input type="submit" value="Submit"> <!-- Submit button -->
        </form>

    </body>

    <%- include('partials/footer') %>