<%- include('partials/header') %>

    <body>

        <form action="/login" method="POST">
            <input name="user" type="text" placeholder="Username">
            <input name="pass" type="password" placeholder="Password">
            <input type="submit" value="Submit">
        </form>

    </body>

    <%- include('partials/footer') %>

