<%- include('partials/header') %>

    <body>
        <!-- This is the login page -->
        <form action="/login" method="POST">
            <input name="user" type="text" placeholder="Username"> <!-- Username -->
            <input name="pass" type="password" placeholder="Password"> <!-- Password -->
            <input type="submit" value="Submit"> <!-- Submit button -->
        </form>

    </body>

    <%- include('partials/footer') %>