<%- include('partials/header') %>
    <%- include('partials/style') %>
        <style>
            .cute-button {
                display: inline-block;
                padding: 10px 20px;
                margin: 10px;
                font-size: 16px;
                font-weight: bold;
                text-decoration: none;
                color: white;
                background-color: #4CAF50;
                border: none;
                border-radius: 5px;
                transition: background-color 0.3s ease, transform 0.2s ease;
                text-align: center;
            }

            .cute-button:hover {
                background-color: #45a049;
                transform: scale(1.05);
            }
        </style>

        <head>
            <title>Home</title>
            <link rel="stylesheet" type="text/css" href="/styles/home.css">
        </head>

        <body>
            <!-- This is the home page with links to the game and chat page -->
            <div class="container">
                <h1>Welcome ! This is your profile</h1>
                

                <p>Created by: The Garter company!</p>
                <p>Choose an option below:</p>
                <div class="links">
                    <a href="/home" class="cute-button">Click here to go home</a>
                    <a href="/logout" class="cute-button">Logout</a>
                </div>
            </div>
            <img id="snake2" src="/img/SnakeMenu.png" style="position:absolute ;top: 850px; left: 0; width: 200px;">
            </div>
        </body>
