body {
    font-family: Arial, sans-serif;
    background-color: #aaf069;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #c4f399;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #107938;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #107938;
}